body {
  background-color: pink;
  color: red;
  font-family: "Trebuchet MS", "Comic Sans MS"
  margin: 0;
}

header {
   font-size: 60px;
   padding: 6px;
   text-align: center;
}

h1 {
  font-size: 30px;
  border-bottom: double 5px blue;
  text-align: center; 
}

p {
  font-size: 20px;
  text-align: center;
}

iframe, vídeo {
  display: block;
  margin: O auto;
  width: 50%;
  max-width: 600px;
}
